<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>클쉐린 가이드!</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <meta property="og:title" content="오늘 점심 뭐 먹지? "/>
        <meta property="og:description" content="회사 주변에 맛있는 식당이 어디인지 알려주세요"/>
        <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}"/>
        <!-- HTML에 이 부분을 추가하고 -->
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

        <style>
            .center {
                text-align: center;
            }

            .star-list {
                width: 500px;
                margin: 20px auto 0 auto;
            }

            .star-name {
                display: inline-block;
            }

            .star-name:hover {
                text-decoration: underline;
            }

            .card {
                margin-bottom: 15px;
            }

            section > * {
                font-family: 'Do Hyeon', sans-serif;
            }

            h1 {
                text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;;

            }

            h2 {
                text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;;

            }


        </style>
        <script>
            $(document).ready(function () {
                // index.html 로드가 완료되면 자동으로 showStar() 함수를 호출합니다.
                showrestaurant();
            });

            function showrestaurant() {
                $('#restaurant-box').empty()

                $.ajax({
                    type: 'GET',
                    url: '/api/list',
                    data: {},
                    success: function (response) {
                        let restaurants = response['restaurant_list']
                        console.log(restaurants);
                        for (let i = 0; i < restaurants.length; i++) {
                            let restaurant = restaurants[i]

                            let name = restaurant['title']
                            let url = 'https://map.naver.com/v5/search/' + name.replaceAll('<b>', '').replaceAll('</b>', '')
                            let category = restaurant['category']
                            let place = restaurant['address']
                            let like = restaurant['like']
                            let hate = restaurant['hate']

                            let tempHtml = `<div class="card">
                <div class="card-content">

                        <div class="media-content">
                            <a href="${url}" target="_blank" class="restaurant-name title is-4">${name}</a>
                            <h4>${category}</h4>
                        </div>
                    </div>

                <footer class="card-footer">
                    <a href="#" onclick="likerestaurant('${name}')"  class="card-footer-item has-text-info">
                        추천입니다 !
                        <span class="icon">
              <i class="fas fa-thumbs-up"></i>
            </span>   ${like}개
                    </a>
                    <a href="#" onclick="haterestaurant('${name}')" class="card-footer-item has-text-danger">
                        흠..굳이?
                        <span class="icon">
              <i class="fas fa-thumbs-down"></i>
            </span> ${hate}개
                    </a>
                </footer>
            </div>`

                            $('#restaurant-box').append(tempHtml)
                        }
                        // if (response['result'] == 'success') {
                        //    let msg = response['msg'];
                        //   alert('업데이트 완료');
                        //}
                    }
                });
            }

            function likerestaurant(name) {
                $.ajax({
                    type: 'POST',
                    url: 'api/restaurant/like',
                    data: {'name_give': name},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            //let msg = response['msg'];
                            alert('맛있었나봐요:)')
                            window.location.reload()
                        }
                    }
                });
            }

            function haterestaurant(name) {
                $.ajax({
                    type: 'POST',
                    url: 'api/restaurant/hate',
                    data: {'name_give': name},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            //let msg = response['msg'];
                            alert('다른 맛집을 찾아봅시다ㅠ.ㅠ')
                            window.location.reload()
                        }
                    }
                });
            }

        </script>
    </head>
    <body>
        <section class="hero is-warning" style="background-image: url('https://i.postimg.cc/t4bvdBMB/image.png')">
            <div class="hero-body">
                <div class="media">
                    <div class="container center">
                        <img src="https://ifh.cc/g/zcHO2o.png"
                             alt="Placeholder image"
                             width="48"
                        />
                        <h1 class="title" style="color: #000000">
                            클쉐린 가이드😋
                        </h1>
                        <h2 class="subtitle">
                            오늘 점심은 무엇을 먹어볼까나?
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="restaurant-list" id="restaurant-box">

        </div>
    </body>
</html>